<% provide(:title, 'All Drugs') %>

      <% @drugs.each do |drug| %>
          <div class="row">
            <%= link_to drug.name, drug %><br>
            <%= image_tag drug.image_url(:thumb) if drug.image? %>  
            <hr>
         </div>
      <% end %>

<div class="digg_pagination">
  <%= will_paginate @drugs %>
</div>