<div class="paginate pull-right">
  
<div id="results-container">
  <div class="simple-navigation top">
    <div class="simple-pagination-first"></div>
    <div class="simple-pagination-previous"></div>
    <div class="simple-pagination-page-numbers"></div>
    <div class="simple-pagination-next"></div>
    <div class="simple-pagination-last"></div>
  </div>
  
</div>