<% provide(:title, 'Dentists, Lawyers, Shopping...') %>

<div class="row">
  
  <div class="col-xs-2"></div>
  
  <div class="col-xs-8">
    <div class="allnews">
      <%= render 'local_feed' %>
    </div>
  </div>

</div>
  

