<% provide(:title, "#{@local['name']} reviews in #{@local['locality']}") %>
<% set_meta_tags :description => "Reviews, ratings of #{@local['name']} in #{@local['locality']} - #{@local['category_labels'].join(', ').split.last(1).join('')}" %>
<% set_meta_tags :keywords => "#{@local['locality']}, #{@local['category_labels'].join(', ').split.last(1).join('')}, #{@local['name']}" %>

<%= render 'localshow' %>

<%= render 'shared/ad_on_item' %>

<hr>

  <div class="row"> 
    <%= render :file => "local_reviews/index" %>
  </div>
