<% provide(:title, 'About') %>

<hr>
  <div align="center">
    <ul class="aboutlist">
      <li class="aboutitem"><%= link_to "Contact", new_contact_form_path %></li>
      <li class="aboutitem"><%= link_to "Terms of Service", tos_path %></li>
      <li class="aboutitem"><%= link_to "Privacy Policy", policy_path %></li>
    </ul> 
  </div>
<hr>