<% provide(:title, 'About') %>

  <div align="center">
    <ul class="aboutlist">
      <li class="aboutitem"><%= link_to "Contact", new_contact_form_path %></li>
      <li class="aboutitem"><%= link_to "Terms of Service", tos_path %></li>
      <li class="aboutitem"><%= link_to "Privacy Policy", policy_path %></li>
    </ul>
  </div>

<div class="podinfo" align="center">Inrevi is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com.

That keeps the site running. Thank you for supporting us. Enjoy!</div>
  