<div class="row">
  <div class="col-sm-4">
    <ul class="admin">
      
      <li><span class="glyphicon glyphicon-envelope"></span> <%= link_to "Inbox", "contact_forms" %></li>
      <li><span class="glyphicon glyphicon-usd"></span> <%= link_to "Ads", "/promotions" %></li>
      <hr>
      <li><%= link_to "Auto reviews", "auto_reviews/all" %></li>
      
    </ul>
  </div>
</div>