<% provide(:title, 'Fashion') %>
<div class="mobilemaincats" align="">
  
<ul class="nav nav-stacked categorylist mobile">
  <li><%= link_to image_tag('othericons/backarrow.PNG'), fashion_path %></li><hr>
  <li class="categorylist clothing"><%= link_to "clothing", fashion_clothing_path %></li><hr> 
  <li class="categorylist footwear"><%= link_to "footwear", fashion_footwear_path %></li><hr>
  <li class="categorylist jewelry"><%= link_to "jewelry", jewelry_index_path %></li><hr>
</ul>