<% provide(:title, 'Fashion | Footwear') %>
<div class="mobilemaincats" align="">
  
<ul class="nav nav-stacked categorylist mobile">
  <li><%= link_to image_tag('othericons/backarrow.PNG'), fashion_path %></li><hr>
  <li class="categorylist fmen"><%= link_to "men", menfootwear_index_path %></li> <hr>
  <li class="categorylist fwomen"><%= link_to "women", womenfootwear_index_path %></li><hr>
</ul>