<% provide(:title, 'Drugs, Supplements...') %>

<div class="row">

<div class="col-sm-2 categories">
  <%= render 'shared/subcategories/health' %>
</div>
  
<div class="col-sm-8"> 
  <%= render 'shared/home_newsfeed' %>
</div>

<div class="col-sm-2">
  <%= render 'shared/user_mainprofile' %>
</div>
 
</div>