<% provide(:title, 'Music Instruments, Sport, Art...') %>
<div class="mobilemaincats" align="">
  
<ul class="nav nav-stacked categorylist mobile">
  <li><%= link_to image_tag('othericons/backarrow.PNG'), root_path %></li><hr>
  <li class="categorylist music"><%= link_to "music", root_path %></li> <hr>
  <li class="categorylist sports"><%= link_to "sports", root_path %></li><hr>
  <li class="categorylist crafts"><%= link_to "arts", root_path %></li><hr>
</ul>