<% provide(:title, 'Recipes, Groceries...') %>

<br>
  <div class="row mobile-cat">
    <div class="col-xs-3">
      <%= link_to image_tag('caticons/hover/catdrink.PNG'), grocer_index_path %>
    </div>
    <div class="col-xs-9 mobcatlink" align="left">
      <%= link_to "groceries", grocer_index_path %>
    </div>
  </div>

  <div class="row mobile-cat">
    <div class="col-xs-3">
      <%= link_to image_tag('caticons/sustenance/recipe.png'), recipes_path %>
    </div>
    <div class="col-xs-9 mobcatlink" align="left">
      <%= link_to "recipes", recipes_path %>
    </div>
  </div>