<% provide(:title, 'Just reviews.') %>

<% unless signed_in? %>
    <div id="login-center">
      <%= link_to "Login", mobile_newsfeed_path, class: 'btn btn-default btn-lg btn-block' %>
    </div>
<% else %>
    <%= render 'shared/categories' %>
<% end %>
