<% provide(:title, 'Just reviews.') %>

<div class="row">

<div class="col-sm-2 categories">
  <%= render 'shared/categories' %><br><br>
</div>
  
<div class="col-sm-8"> 
  <div class="qupdate">  
    <div class="texty">What body & bath products are you using in bathroom?</div>
  </div>
  <div class="allnews">
    <div class="separatenews">
dfg    
    </div>
  </div>
</div>

<div class="col-sm-2">
  <%= render 'shared/user_mainprofile' %>
</div>

  
</div>

