<br>

<% @users.each do |user| %>
  <table class="table table-striped">
    <td><%= link_to user.name, user %></td>
  </table>
<% end %>

<div class="digg_pagination">
  <%= will_paginate @users %>
</div>