<div class="row autoup"> 
  <div class="col-sm-3"> 
    map
  </div> 
  
   <div class="col-sm-5 autoshow"> 
basic info
  
  </div>
  
  <div class="col-sm-4">
    
    <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
    <div class="writeareview">
      <%= link_to "Write a Review", new_local_local_review_path(@local['factual_id'], @local_reviews) %>
    </div><br>
    
  </div>
  
</div> <br>