<h1>Listing movie_reviews</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_reviews.each do |movie_review| %>
      <tr>
        <td><%= movie_review.title %></td>
        <td><%= link_to 'Show', movie_review_path %></td>
        <td><%= link_to 'Edit', edit_movie_movie_review_path(movie_review) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

