<%= render 'teches/techshow' %>

    <% if @promotion.present? && @promotion.tech %>
        <div class="row showpromotion">
          <a href="<%= @promotion.link %>" target="_blank"><%= @promotion.text %></a> 
        </div>
    <% end %>

  <div class="row"> 
    <%= render :file => "tech_reviews/index" %>
  </div>