<hr>

<div id="nav-listz" align="left">  
    <ul>      
     
        <li><%= link_to "Compact Stereos", "/homeaudios/search?utf8=✓&query=Compact+Stereo&category=&commit=Go" %></li> 
        <li><%= link_to "Stereo Components", "/homeaudios/search?utf8=✓&query=Stereo+Components&category=&commit=Go" %></li>  
        <li><%= link_to "Radios", "/homeaudios/search?utf8=✓&query=Radio&category=&commit=Go" %></li>
      
    </ul>    
</div>


<%= render 'shared/catlists/js_for_lists' %>

<hr>