<div class="row autoup"> 
  <div class="col-sm-3"> 
    <%= image_tag @recipe_review.recipe.image_url(:thumb) if @recipe_review.recipe.image? %> 
  </div> 
  
   <div class="col-sm-5 autoshow"> 
     <b><%= link_to @recipe_review.recipe.name, recipe_path(@recipe_review.recipe) %></b> <br><br>  
  </div>
  
  <div class="col-sm-4">
    
    <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
    <div class="writeareview">
      <%= link_to "Write a Review", new_recipe_recipe_review_path(@recipe_review.recipe) %>
    </div><br>
    
  </div>
  
</div> <br>