<%= render "movieshow" %><br>

    <% if @promotion.present? && @promotion.movie %>
        <div class="row showpromotion">
          <a href="<%= @promotion.link %>" target="_blank"><%= @promotion.text %></a> 
        </div>
    <% end %>

  <div class="row"> 
    <%= render :file => "movie_reviews/index" %>
  </div>

  
  
  
  
  
  
  