<div class="similarmovies">
    <% if @similar_movies %>
      <p>Similar Movies:</p>
				<% @similar_movies.first(4).each do |movie| %><br><br>
					<% if movie %>
						<%= link_to movie_path(movie['id']) do %>
							<%= image_tag("#{@configuration.base_url}w92#{movie['poster_path']}") if movie['poster_path'] %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
    </div>