<% provide(:title, @movie.title) %>

<div class="row">
 
<div class="col-sm-10"> 
  <div class="movieitem">
    <%= render 'movies/movieshow2' %>
  </div>
</div>

<div class="col-sm-2">
  <%= render 'shared/user_mainprofile' %>
</div>

  
</div>