/* line 5, /home/action/inrevi/app/assets/stylesheets/books.css.scss */
.booksearchbutton {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #CCC;
  background-image: none;
  width: 320px;
}

/* line 13, /home/action/inrevi/app/assets/stylesheets/books.css.scss */
.booksearchbutton:focus {
  outline-color: none;
  box-shadow: 0 0 3px 0px #0066FF;
}

/* line 18, /home/action/inrevi/app/assets/stylesheets/books.css.scss */
.booksearchbox {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 20px;
}

/* line 23, /home/action/inrevi/app/assets/stylesheets/books.css.scss */
.btn.booksearch {
  height: 32px;
  width: 140px;
  border: 1px solid #CCC;
}

/* line 29, /home/action/inrevi/app/assets/stylesheets/books.css.scss */
.col-sm-4.booksin {
  max-height: 150px;
}

/* line 33, /home/action/inrevi/app/assets/stylesheets/books.css.scss */
.col-sm-8.booksin {
  min-height: 220px;
}

/* line 37, /home/action/inrevi/app/assets/stylesheets/books.css.scss */
.searchbox.books {
  width: 300px;
}

/* line 41, /home/action/inrevi/app/assets/stylesheets/books.css.scss */
.booktotalsearch {
  display: inline-block;
}

/* line 45, /home/action/inrevi/app/assets/stylesheets/books.css.scss */
.choosesearch {
  float: left;
  padding-bottom: 10px;
}

/* line 50, /home/action/inrevi/app/assets/stylesheets/books.css.scss */
#book-description {
  font-size: 80%;
}
