/* line 5, /home/action/inrevi/app/assets/stylesheets/drugs.css.scss */
.drugup {
  padding-bottom: 58px;
  border-bottom: 1px solid #E8E8E8;
}

/* line 10, /home/action/inrevi/app/assets/stylesheets/drugs.css.scss */
.drugsearchbutton {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #CCC;
  background-image: none;
  width: 400px;
}

/* line 18, /home/action/inrevi/app/assets/stylesheets/drugs.css.scss */
.drugsearchbutton:focus {
  outline-color: #0066FF;
}

/* line 22, /home/action/inrevi/app/assets/stylesheets/drugs.css.scss */
.row.drug {
  padding-top: 30px;
}

/* line 29, /home/action/inrevi/app/assets/stylesheets/drugs.css.scss */
.col-sm-8.drugin {
  min-height: 200px;
}

/* line 33, /home/action/inrevi/app/assets/stylesheets/drugs.css.scss */
.drugsnowindex {
  font-size: 130%;
}
/* line 35, /home/action/inrevi/app/assets/stylesheets/drugs.css.scss */
.drugsnowindex a {
  color: #707070;
}
/* line 36, /home/action/inrevi/app/assets/stylesheets/drugs.css.scss */
.drugsnowindex a:hover {
  color: #202020;
  text-decoration: none;
}

/* CATEGORIES */
/* line 42, /home/action/inrevi/app/assets/stylesheets/drugs.css.scss */
.healthcat {
  border-bottom: 0px solid #E8E8E8;
  padding-bottom: 5px;
  padding-left: 30px;
}

/* line 49, /home/action/inrevi/app/assets/stylesheets/drugs.css.scss */
.healthcat ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

/* line 56, /home/action/inrevi/app/assets/stylesheets/drugs.css.scss */
.healthcat ul li {
  display: inline;
  font-size: 120%;
}

/* line 59, /home/action/inrevi/app/assets/stylesheets/drugs.css.scss */
.healthcat ul li a {
  color: #808080;
  text-decoration: none;
  font-size: 1em;
  padding: .5em 5.5em 0.5em 0.6em;
}

/* line 67, /home/action/inrevi/app/assets/stylesheets/drugs.css.scss */
.healthcat ul li a:hover {
  background-color: #FFFFFF;
  color: #000000;
}
