/* line 5, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
#tags {
  display: none;
}

/* line 9, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
#map-canvas {
  height: 300px;
}

/* line 13, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.ui-helper-hidden-accessible {
  display: none;
}

/* line 17, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
ul.ui-autocomplete {
  z-index: 1001;
  border: 2px solid #EEE;
  list-style-type: none;
  background: #FFF;
  width: 15%;
  padding: 10px;
}
/* line 24, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
ul.ui-autocomplete a:hover {
  text-decoration: none;
}

/* line 27, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.col-sm-4.localmap {
  height: 500px;
}

/* line 31, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.form-control {
  width: 50px;
}

/* line 36, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.form-control.q {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #CCC;
  background-image: none;
  width: 220px;
  display: inline-block;
}

/* line 44, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.form-control.q:focus {
  outline-color: #0066FF;
}

/* line 48, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.localcategory {
  font-size: 80%;
  padding-bottom: 5px;
}

/* line 53, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.localindexname {
  font-size: 105%;
  font-weight: bold;
}

/* line 58, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.localbottom {
  padding-bottom: 15px;
  border-bottom: 1px solid #D0D0D0;
}

/* line 63, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.local.name {
  font-weight: bold;
  font-size: 110%;
  padding-bottom: 0px;
}
/* line 67, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.local.name a {
  color: #606060;
}
/* line 68, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.local.name a:hover {
  text-decoration: none;
  color: black;
}

/* line 72, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.emaillink {
  font-size: 70%;
}

/* line 76, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.localhours {
  font-size: 85%;
}

/* line 80, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.localaddition {
  font-size: 110%;
}

/* line 84, /home/action/inrevi/app/assets/stylesheets/locals.css.scss */
.searchbox.local {
  width: 200px;
}
