/* line 5, /home/action/inrevi/app/assets/stylesheets/media.css.scss */
.quickreview {
  font-style: italic;
  font-size: 90%;
}

/* line 11, /home/action/inrevi/app/assets/stylesheets/media.css.scss */
.listcat a {
  background-color: #F0F0F0;
}

/* line 14, /home/action/inrevi/app/assets/stylesheets/media.css.scss */
.mediasubcategories {
  padding-left: 50px;
  padding-top: 20px;
}

/* line 19, /home/action/inrevi/app/assets/stylesheets/media.css.scss */
.mediasubcategories ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 26, /home/action/inrevi/app/assets/stylesheets/media.css.scss */
.mediasubcategories ul li {
  padding-bottom: 20px;
}

/* line 31, /home/action/inrevi/app/assets/stylesheets/media.css.scss */
.mediasubcategories ul li a {
  padding-left: 20px;
  font-size: 130%;
  text-decoration: none;
  color: #888888;
}

/* line 39, /home/action/inrevi/app/assets/stylesheets/media.css.scss */
.mediasubcategories ul li a:hover {
  color: #404040;
}
