/* General */
/* line 4, /home/action/inrevi/app/assets/stylesheets/newsfeed.css.scss */
.qupdate {
  border-bottom: 0px solid #E8E8E8;
  padding-bottom: 5px;
}

/* line 8, /home/action/inrevi/app/assets/stylesheets/newsfeed.css.scss */
.texty {
  padding-left: 30px;
  border-bottom: 0px;
}

/* line 13, /home/action/inrevi/app/assets/stylesheets/newsfeed.css.scss */
.safelogin {
  font-size: 90%;
  text-align: center;
}

/* line 19, /home/action/inrevi/app/assets/stylesheets/newsfeed.css.scss */
.qupdate.ud {
  float: right;
  border-right: 1px solid #E8E8E8;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 26, /home/action/inrevi/app/assets/stylesheets/newsfeed.css.scss */
.allnews {
  padding-top: 30px;
  border-right: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 35, /home/action/inrevi/app/assets/stylesheets/newsfeed.css.scss */
.homenews {
  padding-top: 30px;
  border-right: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  padding-left: 20px;
  padding-right: 20px;
}
