/* line 1, /home/action/inrevi/app/assets/stylesheets/pagination.css.scss */
.digg_pagination {
  text-align: center;
  background: white;
  cursor: default;
  /* self-clearing method: */
}

/* line 6, /home/action/inrevi/app/assets/stylesheets/pagination.css.scss */
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.25em 0.70em;
  display: block;
  float: left;
  margin-right: 1px;
}

/* line 11, /home/action/inrevi/app/assets/stylesheets/pagination.css.scss */
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

/* line 14, /home/action/inrevi/app/assets/stylesheets/pagination.css.scss */
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}

/* line 20, /home/action/inrevi/app/assets/stylesheets/pagination.css.scss */
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}

/* line 24, /home/action/inrevi/app/assets/stylesheets/pagination.css.scss */
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033;
}

/* line 27, /home/action/inrevi/app/assets/stylesheets/pagination.css.scss */
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

/* line 34, /home/action/inrevi/app/assets/stylesheets/pagination.css.scss */
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

/* line 38, /home/action/inrevi/app/assets/stylesheets/pagination.css.scss */
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 44, /home/action/inrevi/app/assets/stylesheets/pagination.css.scss */
* html .digg_pagination {
  height: 1%;
}

/* line 46, /home/action/inrevi/app/assets/stylesheets/pagination.css.scss */
*:first-child + html .digg_pagination {
  overflow: hidden;
}
