/* line 4, /home/action/inrevi/app/assets/stylesheets/review_images.css.scss */
.r-image {
  height: 25px;
  width: 200px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("otherbigimages/AddImagesOptional1.PNG");
}

/* line 12, /home/action/inrevi/app/assets/stylesheets/review_images.css.scss */
.r-rightside {
  display: none;
}
/* line 14, /home/action/inrevi/app/assets/stylesheets/review_images.css.scss */
.r-rightside:after {
  clear: both;
  content: '';
  display: block;
}

/* Loading gif */
/* line 23, /home/action/inrevi/app/assets/stylesheets/review_images.css.scss */
#submit-me {
  height: 35px;
  width: 60px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("");
}

/* line 31, /home/action/inrevi/app/assets/stylesheets/review_images.css.scss */
#loading2 {
  display: none;
}
/* line 33, /home/action/inrevi/app/assets/stylesheets/review_images.css.scss */
#loading2:after {
  clear: both;
  content: '';
  display: block;
}
