/* line 4, /home/action/inrevi/app/assets/stylesheets/review_images.css.scss */
.r-image {
  height: 25px;
  width: 200px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url(data:application/octet-stream;base64,iVBORw0KGgoAAAANSUhEUgAAAMIAAAAUCAIAAABQ5HVUAAAABGdBTUEAALGPC%2FxhBQAAA7BJREFUaEPtmr%2BOEzEQxsOD8V50oaHjASLxAoiSgioFRUA0hAYOCcQhEEiJ%2BKMTitAJivChD74bZry2N07uFmWjVeTY4%2FGs57cz4727tt1uJ%2BGzXq9ns1nsR890Ok32j51HvQPAyH1OT09vZj8QiLPGnmPegUlfhgjYMW%2FZeO9xBzxG%2BThkR8fdHHdAO%2FAbo3p0uiQPtKGb85%2FXbz3mhXbXKhRIjnYNZaYc6F52U4t6a7eJdtZelCQVSvOknaHd0lyNI59%2F%2BCaMXq82x4ZRi%2Ftb5hbBtcrZ3gUjLuP4K67tBGowuv9sBbG7Tz7iG%2B09YtTX2iuRb0GhZW7xZntjtFwuqRQNcXNpGCmdReYQqG7ce4kLUcqNZoa0QXYK29ADbbcfvPm6%2BWHbnIJO0ozrzsN3%2BClVXI4TnSXQg3504vv95%2B%2BaAkkooTDUWm2SiRzYFwpOTEPsd5LO606Y8naWxSizqLUhF40ilZkMWESYAkpSrhGnY98VhBiWlNeEjlVCDZkhu0TESKrkYLqfs2yn7aeRvACTVWuH2L86O6c2smVXjLfvMOr6STdH%2BIqdokcA5ZU4eY9a36q5r7zboHqM5i8%2BQRjPuuBAj3Xqo1df8BPf1nn0d3IojxEWUkWPdgwtnO767XI0GJc1kujgW48EflIsc2iwPqO2DEbOo1H%2BohD%2Bt2Av9jvfZeTT0Ui5bLFYkBs0qHQ%2BnydJis9TvsfF%2Fyish9s%2B7hSzbpDvi0N5jOz02CYKoFNhqbhcfGBwR5wl9KHt6duz5EbVR6NDYxTzWrQtjZEsiy%2BKTk5OLgEjPfTOGawwLIJJjGi%2FG2rBiLkS7nfRyMWVTK50jw3oQVXE7IZGJGkgGFUmx4FihF1WRuMW8%2FDPvMaQwHYylSSHWjAiBGBIFQ%2B1VSa1ZLxJxjxJDgGj%2Bkx6ZUkts7Nyj2pS5hQ4kjVvrF5VkWSGWjCyRTGzrYWbkEmGQ9ESRR1XsDdGo2LAKNZANbjYWr42qWX%2BatZYYufpccnInoSVodjJM3nywJ8Z0uox%2B8TYYGWwqBIQ85rqfeDSdeBHBOUsCEie2ZZnT2a0rgN%2Fwlt%2F6xQXtJJneDm%2B8sCfDIRWcxLHPwK9zvC9hGuI%2Bd9llOwUflRHt9%2BawyipsEam3ZKMBhpQeIudfP24lxL7oPd2acr1TlJHARt1Gs2oQaRGptGM%2FPQqjOr%2F4nZQW4esXOnJZa692FykpCiwFzO6lFykuXpQ8pIHNXdUPvAdGPQ%2Figx870bztAO%2FALGM67%2BRwTDXAAAAAElFTkSuQmCC);
}

/* line 12, /home/action/inrevi/app/assets/stylesheets/review_images.css.scss */
.r-rightside {
  display: none;
}
/* line 14, /home/action/inrevi/app/assets/stylesheets/review_images.css.scss */
.r-rightside:after {
  clear: both;
  content: '';
  display: block;
}

/* Loading gif */
/* line 23, /home/action/inrevi/app/assets/stylesheets/review_images.css.scss */
#submit-me {
  height: 35px;
  width: 60px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("");
}

/* line 31, /home/action/inrevi/app/assets/stylesheets/review_images.css.scss */
#loading2 {
  display: none;
}
/* line 33, /home/action/inrevi/app/assets/stylesheets/review_images.css.scss */
#loading2:after {
  clear: both;
  content: '';
  display: block;
}
