/* line 8, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.col-sm-3.homefblogo {
  padding-top: 10px;
  padding-bottom: 280px;
}

/* line 13, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.aboutslogan {
  font-size: 150%;
  color: #383838;
  font-weight: bold;
  padding-left: 40px;
}

/* line 20, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.row.advertisinglist {
  border-top: 1px solid #E8E8E8;
  padding-top: 30px;
}

/* line 25, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.adtitle {
  font-size: 150%;
  padding-left: 5px;
  display: inline-block;
}
/* line 29, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.adtitle a {
  color: #383838;
}
/* line 30, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.adtitle a:hover {
  color: black;
  text-decoration: none;
}

/* line 33, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.addescription {
  font-weight: bold;
  font-size: 110%;
  color: #707070;
  padding-botom: 40px;
}

/* line 40, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.seeplans {
  display: inline-block;
  font-weight: bold;
  font-size: 130%;
  padding-left: 15px;
}

/* line 47, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.col-sm-12.plan1 {
  background-color: #FAFAFA;
}

/* line 51, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.col-sm-12.plan2 {
  background-color: #FAFAFA;
}

/* line 55, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.col-sm-12.plan3 {
  background-color: #F8E0E0;
}

/* line 59, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.selectplan {
  font-weight: bold;
  font-size: 150%;
  padding-top: 50px;
  text-align: center;
}

/* line 66, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.titleplan {
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

/* line 73, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.adslogan {
  font-size: 130%;
  padding-bottom: 50px;
  color: #505050;
  text-align: center;
}

/* line 80, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.loginversus {
  padding-left: 45px;
}

/* line 84, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
ul.admin {
  list-style-type: none;
}

/* line 88, /home/action/inrevi/app/assets/stylesheets/static_pages.css.scss */
.homephoto {
  border-right: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
}
