/* line 5, /home/action/inrevi/app/assets/stylesheets/teches.css.scss */
.techup {
  padding-bottom: 58px;
  border-bottom: 1px solid #E8E8E8;
}

/* line 10, /home/action/inrevi/app/assets/stylesheets/teches.css.scss */
.techsearchbutton {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #CCC;
  background-image: none;
  width: 400px;
}

/* line 18, /home/action/inrevi/app/assets/stylesheets/teches.css.scss */
.techsearchbutton:focus {
  outline-color: none;
  box-shadow: 0 0 3px 0px #0066FF;
}

/* line 23, /home/action/inrevi/app/assets/stylesheets/teches.css.scss */
.row.tech {
  padding-top: 30px;
}

/* line 30, /home/action/inrevi/app/assets/stylesheets/teches.css.scss */
.col-sm-8.techin {
  min-height: 200px;
}

/* line 34, /home/action/inrevi/app/assets/stylesheets/teches.css.scss */
.techsnowindex {
  font-size: 130%;
}
/* line 36, /home/action/inrevi/app/assets/stylesheets/teches.css.scss */
.techsnowindex a {
  color: #707070;
}
/* line 37, /home/action/inrevi/app/assets/stylesheets/teches.css.scss */
.techsnowindex a:hover {
  color: #202020;
  text-decoration: none;
}

/* line 40, /home/action/inrevi/app/assets/stylesheets/teches.css.scss */
.technameshow {
  padding-left: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 110%;
}
