/* line 2, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
#sign_in {
  padding-top: 10px;
}

/* line 6, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.col-sm-7.usershow {
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
  padding-top: 20px;
}

/* line 13, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.points {
  color: #707070;
  font-weight: bold;
}

/* line 18, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.pointz {
  font-weight: normal;
  display: inline-block;
}

/* line 23, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.stats {
  padding-top: 10px;
}
/* line 25, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.stats a {
  color: #707070;
}
/* line 26, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.stats a:hover {
  text-decoration: none;
  color: #000000;
}

/* line 29, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.namefollow {
  vertical-align: top;
  display: inline-block;
}
/* line 32, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.namefollow a {
  color: #707070;
}
/* line 33, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.namefollow a:hover {
  text-decoration: none;
  color: #000000;
}

/* line 36, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.podcastusershow {
  font-size: 120%;
  font-weight: bold;
  padding-bottom: 5px;
}

/* line 42, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.podcastusercontent {
  padding-left: 20px;
  padding-top: 5px;
}

/* line 47, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.unameonshow {
  font-size: 130%;
  padding-bottom: 10px;
}

/* line 52, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.userfollowname {
  font-size: 90%;
  display: inline-block;
  vertical-align: top;
}

/* line 58, /home/action/inrevi/app/assets/stylesheets/user.css.scss */
.stats.mobile {
  text-justify: inter-word;
}
