<%= render 'recipes/recipeshow' %>

    <% if @promotion.present? && @promotion.recipe %>
        <div class="row showpromotion">
          <a href="<%= @promotion.link %>" target="_blank"><%= @promotion.text %></a> 
        </div>
    <% end %>

  <div class="row"> 
    <%= render :file => "recipe_reviews/index" %>
  </div>