<% provide(:title, @recipe.name) %>

<div class="row">
 
  <div class="col-sm-2 categories">
    <%= render 'shared/categories' %>
  </div> 
    
  <div class="col-sm-8"> 
     <div class="allnews">
       <%= render 'recipes/recipeshow' %>
       <%= simple_format(@recipe.ingredients) %>
       <div class="row dumb500"></div>
     </div>
  </div>
  
  <div class="col-sm-2">
    <%= render 'shared/user_mainprofile' %>
  </div>

</div>

