              <div class="bottomreviewicons">
                <% if signed_in? %>
                
                  <% if current_user == @auto_review.user %>
                    
                  <% elsif current_user.voted_for? @auto_review %>
                    Voted!
                  <% else %>
                   <div class="thumbsup">
                     <%= link_to image_tag('othericons/thumbsup_off.PNG', height: '21', width: '20'),  like_auto_auto_review_path(@auto_review.auto_id, @auto_review), method: :put, :remote => true %>
                   </div>
                            
                   <div class="thumbsdown">
                    <%= link_to image_tag('othericons/thumbsdown_off.PNG', height: '21', width: '20'), dislike_auto_auto_review_path(@auto_review.auto_id, @auto_review), method: :put, :remote => true %>
                   </div>
                
                  <% end %>
                
                <% end %>
                
              </div>