<% provide(:title, @user.first_name) %>

<div class="row">
  
  <div class="col-sm-3 usershow">
    <%= render 'shared/user_info' %>
  </div>
  
  <div class="col-sm-6 usershow"> 
   
    <% @activities.each do |activity| %>
      <div class="activity">
        <%= render_activity activity %>
        <%= activity.inspect %>
      </div>
    <% end %>
    
  </div>
  
  <div class="col-sm-3">
  </div>
  
</div>
