<div class="col-sm-3">
  <%= render 'shared/user_info' %>
</div>

<div class="col-sm-7"> 
  <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
          <%= link_to image_tag(user.image, width: "100"), user%>
          <div class="namefollow"><%= link_to user.name, user %></div>
          <% end %>
        </div>
     <% end %>
</div>

<div class="col-sm-2">
</div>

<%= will_paginate @users %>
