<%= form_tag tvsearch_path, :method => :get do %>
    <div class="searchbox"><%= text_field_tag(:query, nil, :placeholder => "e.g. Game of Trones" , :class => "form-control") %></div>
    <div class="searchgo"><span class="input-group-btn"><%= submit_tag "Go", class: "btn btn-default" %></span></div>
<% end %>

<hr>