<% provide(:title, 'TV Shows') %>

<div class="row">
  
  <div class="col-xs-2"></div> 
  
  <div class="col-xs-8"> 
      <div class="allnews">
        <%= render 'tvshowsup' %>
        <div class="row dumb500"></div>  
     </div>
  </div>
  
</div>
