<% provide(:title, 'TV Shows') %>

<div class="row">
    
  <div class="col-sm-8"> 
      <div class="allnews">
        <%= render 'tvshowsup' %>
        <div class="row dumb500"></div>  
     </div>
  </div>
  
</div>
