<% provide(:title, "#{@tvshow.name} Reviews") %>

<%= render "tvshowshow" %><br>

<%= render 'shared/ad_on_item' %>

<hr>

  <div class="row"> 
    <%= render :file => "tvshow_reviews/index" %>
  </div>
