<% if @feed_items.any? %>

    <%= render partial: 'shared/feed_item', collection: @feed_items %>

<% else %>

<div class="noreviewshome">No reviews yet :(</div>
<div class="noreviewshomebottom">Follow someone or write one yourself</div>

<% end %>