 <% unless @avg_score == 0.0 %>  
<hr>
        <div class="reviewnumberscore mobile">
           <%= @avg_score ? @avg_score.round(1) : 0 %>
         </div>
          (<%= @fineart.fineart_reviews_count %>)
<hr>
  <% end %>