<% provide(:title, 'Fine Art') %>

      <% @finearts.each do |fineart| %>
          <div class="row">
            <%= link_to fineart.name, fineart %><br>
            <%= image_tag fineart.image_url(:thumb) if fineart.image? %>  
            <hr>
         </div>
      <% end %>

<div class="digg_pagination">
  <%= will_paginate @finearts %>
</div>