<% provide(:title, "#{@fineart.name} Reviews") %>

<%= render 'finearts/fineartshow' %>

<%= render 'shared/ad_on_item' %>

<hr>

  <div class="row"> 
    <%= render :file => '/fineart_reviews/index' %>
  </div>
