<hr>
  <%= form_tag songs_search_path, method: :get, :html => { :class => 'form-horizontal' } do %>
        <%= text_field_tag :query, params[:query], placeholder: 'by name, artist or album...', class: "form-control mobile-search" %>
      <br>
      <div class="searchgo">
        <span class="input-group-btn">
          <%= submit_tag "Go", class: "btn btn-default" %>
        </span>
      </div>
  <% end %>
<hr>