<%= render 'books/bookshow' %>

    <% if @promotion.present? && @promotion.book %>
        <div class="row showpromotion">
          <a href="<%= @promotion.link %>" target="_blank"><%= @promotion.text %></a> 
        </div>
    <% end %>

  <div class="row"> 
    <%= render :file => "book_reviews/index" %>
  </div>
