<% if @books %>
  <div class="paginate pull-right">
    <% page = params[:page] || 1 %>
    <% next_page = page.to_i + 1 %>
    <% previous_page = page.to_i - 1 %>
    <% if previous_page > 0 %>
      <%= link_to "Previous Page", booksearch_path(params.merge(page: page.to_i - 1)) %>
    <% end %>
    <%= "Page #{page}/#{(@books.total_items.to_f/ Book::PER_PAGE).ceil}" %>
    <% if next_page <= (@books.total_items.to_f/ Book::PER_PAGE).ceil %>
      <%= link_to "Next Page", booksearch_path(params.merge(page: page.to_i + 1)) %>
    <% end %>
  </div>
<% end %>