<div class="booksearchbox">
<%= form_tag("/booksearch", :method => "get") do %>
  <%= text_field_tag(:query, nil, :placeholder => "e.g. Harry Potter" , :class => "booksearchbutton") %>
<% end %>
</div>