<% provide(:title, 'Books') %>

<div class="row">

<div class="col-sm-2 categories">
  <%= render 'shared/categories' %>
</div>
  
<div class="col-sm-8">  
  
    <div class="allnews">
     
      <%= render "search_form" %>
      <hr>
      <%= render "listresults" %>
      
    </div>
</div>

<div class="col-sm-2">
  <%= render 'shared/user_mainprofile' %>
</div>
  
</div>
