<% provide(:title, 'Books') %>

<div class="row">
  
  <div class="col-xs-2"></div>

  <div class="col-xs-8">  
      <div class="allnews">
        <%= render "search_form" %>
          <hr>
        <%= render "listresults" %>
      </div>
  </div>

</div>
