<% provide(:title, 'Books') %>

<div class="row" align="center">

  <div class="col-sm-8">  
      <div class="allnews">
        <%= render "search_form" %>
          <hr>
        <%= render "listresults" %>
      </div>
  </div>

</div>
