<%= form_for @alert do |f| %>

  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @alert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>   

    <%= f.text_area :content, :placeholder => "Promotion, Announcement, Discounts...",
      :class => "form-control autocontent" %>
    <br>

    <%= submit_tag 'Submit', :class => 'btn btn-default', :id => "submit", :onclick => "this.disabled = true" %> <br>

<% end %>
