<ul class="nav nav-stacked categorylist">
  <li><%= link_to image_tag('othericons/backarrow.PNG'), root_path %></li>
  <li class="categorylist clothing"><%= link_to "clothing & accessories", clothing_index_path %></li><br>
  <li class="categorylist footwear"><%= link_to "footwear", footwear_index_path %></li>
  <li class="categorylist jewelry"><%= link_to "jewelry", jewelr_index_path %></li> 
</ul>