<ul class="nav nav-stacked categorylist">
  <li class="categorylist clothing"><%= link_to "clothing & accessories", clothing_index_path %></li><br><div class="bottom-grey-border"></div>
  <li class="categorylist footwear"><%= link_to "footwear", footwear_index_path %></li><div class="bottom-grey-border"></div>
  <li class="categorylist jewelry"><%= link_to "jewelry", jewelr_index_path %></li> <div class="bottom-grey-border"></div>
</ul>