<ul class="nav nav-stacked categorylist">
  <li class="categorylist food_drinks"><%= link_to "groceries", grocer_index_path %></li><div class="bottom-grey-border"></div>
  <li class="categorylist recipes"><%= link_to "recipes", recipes_path %></li> <div class="bottom-grey-border"></div>
</ul>