<ul class="nav nav-stacked categorylist">
  <li><%= link_to image_tag('othericons/backarrow.PNG'), root_path %></li>
  <li class="categorylist food_drinks"><%= link_to "groceries", grocer_index_path %></li>
  <li class="categorylist recipes"><%= link_to "recipes", recipes_path %></li> 
</ul>

<%= render 'shared/aboutus' %>