<% provide(:title, 'Cars, Motorcycles, Bicycles...') %>    

<hr>
 <%= form_tag autos_search_path, :method => :get do %>      
  <%= text_field_tag :search, params[:search], :placeholder => "cars, motorcycles, bicycles..." , class: "form-control mobile-search" %>
<br><br>

      <div class="searchgo">
        <span class="input-group-btn">
          <%= submit_tag "Go", class: "btn btn-default" %>
        </span>
      </div>
    <% end %> 
<hr>