<% provide(:title, 'Add a new vehicle') %>

<div class="row">

  <div class="col-sm-2"></div>
    
  <div class="col-sm-8">  
    <div class="allnews">
        <%= render 'form' %> <br>
     </div>
  </div>
   
  <div class="col-sm-2"></div>

</div>