<div class="row podup">
  
  <div class="col-sm-8">
    
    <div class="row">
      <%= @product_review.product_name %><hr>
    </div>
    
    <div class="row">
      <div class="col-sm-6"> IMAGE </div>
      
      <div class="col-sm-6">        

      </div>
    </div>
    
  </div>
  
  <div class="col-sm-4">
    
    <%= image_tag('othericons/writeRev.png', height: '16', width: '16') %>
    <div class="writeareview">
      <%= link_to "Write a Review", 
eval("new#{@resource_type}_product_review_path(@product_review.productable_id)") %>
    </div><br>
    
  </div>
  
</div>
  
  
<script type="text/javascript">
  $('.r-clickfeature').on('click', function(e) {
  return $(".r-productfeature").slideToggle();
});
</script>