<% provide(:title, 'Contact Us') %>

<div class="row">

  <div class="col-sm-3 about">
    <%= render "static_pages/aboutcategories" %> 
  </div>

  <div class="col-sm-9">
    <%= render 'form' %> 
  </div>
  
</div>

