// Place all the styles related to the Autos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.autosearchup{
  border-bottom: 1px solid #E8E8E8;
  padding-bottom:20px;
}

.autosearchbutton{
  padding: 5px; 
  border-radius: 3px; 
  border: 1px solid #CCC; 
  background-image: none; 
  width:460px; 
}

.autosearchbutton:focus{
  outline-color: none; 
  box-shadow: 0 0 3px 0px #0066FF; 
}

.row.autoup {
  border-bottom: 2px solid #E8E8E8;
  padding-bottom: 15px;

}

.autosmallinfo{
    font-size: 0.75em;
    padding-left:15px;
}

.col-sm-5.autoshow{
  padding-left:30px;
}