// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.booksearchbutton{ 
  padding: 5px; 
  border-radius: 3px; 
  border: 1px solid #CCC; 
  background-image: none; 
  width:320px; 
}

.booksearchbutton:focus{ 
  outline-color: none; 
  box-shadow: 0 0 3px 0px #0066FF;
}

.booksearchbox{
  border-bottom: 1px solid #E8E8E8;
  padding-bottom:20px;
}

.btn.booksearch{
  height:32px;
  width:140px;
  border: 1px solid #CCC; 
}

.col-sm-4.booksin{
  max-height:150px;
}

.col-sm-8.booksin{
  min-height:220px;
}

.searchbox.books{
  width:300px;
}

.booktotalsearch{
  display:inline-block;
}

.choosesearch{
  float:left;
  padding-bottom:10px;
}

#book-description{
  font-size:80%;
}