@import "bootstrap";

.categorylist.media {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 30px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/catmedia.PNG");
background-repeat: no-repeat;
  }
}

.categorylist.media:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 30px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Cmedia.PNG");
    background-repeat: no-repeat; }
}

.categorylist.electronics {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/catelectronics.PNG");
background-repeat: no-repeat;  }
}

.categorylist.electronics:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Celectronics.PNG");
background-repeat: no-repeat;  }
}

.categorylist.local {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/catlocal.PNG");
background-repeat: no-repeat; }
}

.categorylist.local:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Clocal.PNG");
background-repeat: no-repeat; }
}


.categorylist.fashion {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/catfashion.PNG");
background-repeat: no-repeat; }
}

.categorylist.fashion:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Cfashion.PNG");
background-repeat: no-repeat; }
}

.categorylist.tech {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/cattech.PNG");
background-repeat: no-repeat; }
}

.categorylist.tech:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Ctech.PNG");
background-repeat: no-repeat; }
}

.categorylist.health {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 26px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/cathealth.PNG");
background-repeat: no-repeat; }
}

.categorylist.health:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 26px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Chealth.PNG");
background-repeat: no-repeat; }
}

.categorylist.beauty {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 26px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/catbeauty.PNG");
background-repeat: no-repeat; }
}

.categorylist.beauty:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 26px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Cbeauty.PNG");
background-repeat: no-repeat; }
}

.categorylist.auto {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/catauto.PNG");
background-repeat: no-repeat; }
}

.categorylist.auto:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Cauto.png");
background-repeat: no-repeat; }
}