@import "bootstrap";

.categorylist.media {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/catmedia.PNG");
background-repeat: no-repeat;
  }
}

.categorylist.media:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Cmedia.PNG");
    background-repeat: no-repeat; }
}

.categorylist.electronics {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/catelectronics.PNG");
background-repeat: no-repeat;  }
}

.categorylist.electronics:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Celectronics.PNG");
background-repeat: no-repeat;  }
}

.categorylist.local {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/catlocal.PNG");
background-repeat: no-repeat; }
}

.categorylist.local:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Clocal.PNG");
background-repeat: no-repeat; }
}


.categorylist.fashion {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/catfashion.PNG");
background-repeat: no-repeat; }
}

.categorylist.fashion:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Cfashion.PNG");
background-repeat: no-repeat; }
}

.categorylist.tech {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/cattech.PNG");
background-repeat: no-repeat; }
}

.categorylist.tech:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Ctech.PNG");
background-repeat: no-repeat; }
}

.categorylist.health {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/cathealth.PNG");
background-repeat: no-repeat; }
}

.categorylist.health:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Chealth.PNG");
background-repeat: no-repeat; }
}

.categorylist.beauty {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/catbeauty.PNG");
background-repeat: no-repeat; }
}

.categorylist.beauty:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Cbeauty.PNG");
background-repeat: no-repeat; }
}

.categorylist.auto {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/catauto.PNG");
background-repeat: no-repeat; }
}

.categorylist.auto:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Cauto.png");
background-repeat: no-repeat; }
}

.categorylist.sustenance {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/catdrink.PNG");
background-repeat: no-repeat; }
}

.categorylist.sustenance:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Cdrink.PNG");
background-repeat: no-repeat; }
}

.categorylist.home {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/cathome.PNG");
background-repeat: no-repeat; }
}

.categorylist.home:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Chome.PNG");
background-repeat: no-repeat; }
}

.categorylist.hobbies {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/cathobby.PNG");
background-repeat: no-repeat; }
}

.categorylist.hobbies:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 32px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Chobby.PNG");
background-repeat: no-repeat; }
}


/*  MEDIA SUBCATEGORIES  */


.categorylist.books {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/Mbooks.PNG");
background-repeat: no-repeat; }
}

.categorylist.books:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/hover/mbooks.PNG");
background-repeat: no-repeat; }
}

.categorylist.movies {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/Mmovies.PNG");
background-repeat: no-repeat; }
}

.categorylist.movies:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/hover/mmovies.PNG");
background-repeat: no-repeat; }
}

.categorylist.games {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/media/Mgames.PNG");
background-repeat: no-repeat; }
}

.categorylist.games:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/media/hover/mgames.PNG");
background-repeat: no-repeat; }
}

.categorylist.songs {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/Msongs.PNG");
background-repeat: no-repeat; }
}

.categorylist.songs:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/hover/msongs.PNG");
background-repeat: no-repeat; }
}

.categorylist.tvshows {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/Mtv.PNG");
background-repeat: no-repeat; }
}

.categorylist.tvshows:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/hover/mtv.PNG");
background-repeat: no-repeat; }
}

.categorylist.podcasts {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/Mpodcasts.PNG");
background-repeat: no-repeat; }
}

.categorylist.podcasts:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/hover/mpodcasts.PNG");
background-repeat: no-repeat; }
}


/*   HOME SUBCATEGORIES  */

.categorylist.appliances {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/Happliance.PNG");
background-repeat: no-repeat; }
}

.categorylist.appliances:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/hover/happliance.PNG");
background-repeat: no-repeat; }
}

.categorylist.baby {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/Hbaby.PNG");
background-repeat: no-repeat; }
}

.categorylist.baby:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/hover/hbaby.PNG");
background-repeat: no-repeat; }
}

.categorylist.pets {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/Hpet.PNG");
background-repeat: no-repeat; }
}

.categorylist.pets:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/hover/hpet.PNG");
background-repeat: no-repeat; }
}

.categorylist.tools {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/Htool.PNG");
background-repeat: no-repeat; }
}

.categorylist.tools:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/hover/htool.PNG");
background-repeat: no-repeat; }
}


/*  BEAUTY SUBCATEGORIES  */

.categorylist.makeup {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/beauty/Bmakeup.png");
background-repeat: no-repeat; }
}

.categorylist.makeup:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/beauty/hover/bmakeup.png");
background-repeat: no-repeat; }
}

.categorylist.fragrance {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/beauty/Bfragrance.png");
background-repeat: no-repeat; }
}

.categorylist.fragrance:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/beauty/hover/bfragrance.png");
background-repeat: no-repeat; }
}

.categorylist.hair {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/beauty/Bhair.png");
background-repeat: no-repeat; }
}

.categorylist.hair:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/beauty/hover/bhair.png");
background-repeat: no-repeat; }
}

.categorylist.skin {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/beauty/Bskin.png");
background-repeat: no-repeat; }
}

.categorylist.skin:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/beauty/hover/bskin.png");
background-repeat: no-repeat; }
}

.categorylist.bath {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/beauty/Bbath.png");
background-repeat: no-repeat; }
}

.categorylist.bath:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/beauty/hover/bbath.png");
background-repeat: no-repeat; }
}


/*   HOBBIES SUBCATEGORIES   */

.categorylist.music {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hobbies/Hmusic.png");
background-repeat: no-repeat; }
}

.categorylist.music:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hobbies/hover/hmusic.png");
background-repeat: no-repeat; }
}

.categorylist.sports {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hobbies/Hsport.png");
background-repeat: no-repeat; }
}

.categorylist.sports:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hobbies/hover/hsport.png");
background-repeat: no-repeat; }
}

.categorylist.crafts {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hobbies/Hart.png");
background-repeat: no-repeat; }
}

.categorylist.crafts:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hobbies/hover/hart.png");
background-repeat: no-repeat; }
}

/*   ELECTRONICS  SUBCATEGORIES   */

.categorylist.ecomputers {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/Ecomputers.png");
background-repeat: no-repeat; }
}

.categorylist.ecomputers:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/hover/ecomputers.png");
background-repeat: no-repeat; }
}

.categorylist.emobile {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/Emobile.png");
background-repeat: no-repeat; }
}

.categorylist.emobile:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/hover/emobile.png");
background-repeat: no-repeat; }
}

.categorylist.ephoto {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/Ecamera.png");
background-repeat: no-repeat; }
}

.categorylist.ephoto:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/hover/ecamera.png");
background-repeat: no-repeat; }
}

.categorylist.eportable {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/Eportable.png");
background-repeat: no-repeat; }
}

.categorylist.eportable:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/hover/eportable.png");
background-repeat: no-repeat; }
}

.categorylist.esecurity {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/Esecurity.png");
background-repeat: no-repeat; }
}

.categorylist.esecurity:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/hover/esecurity.png");
background-repeat: no-repeat; }
}

.categorylist.eaudio {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/Eaudio.png");
background-repeat: no-repeat; }
}

.categorylist.eaudio:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/hover/eaudio.png");
background-repeat: no-repeat; }
}

.categorylist.etv {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/Etv.png");
background-repeat: no-repeat; }
}

.categorylist.etv:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/hover/etv.png");
background-repeat: no-repeat; }
}

.categorylist.evehicle {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/Evehicle.png");
background-repeat: no-repeat; }
}

.categorylist.evehicle:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/electronics/hover/evehicle.png");
background-repeat: no-repeat; }
}


/*   HEALTH SUBCATEGORIES   */

.categorylist.healthcare {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/health/Hhealthcare.png");
background-repeat: no-repeat; }
}

.categorylist.healthcare:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/health/hover/hhealthcare.png");
background-repeat: no-repeat; }
}

.categorylist.supplements {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/health/Hsupplements.png");
background-repeat: no-repeat; }
}

.categorylist.supplements:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/health/hover/hsupplements.png");
background-repeat: no-repeat; }
}

.categorylist.drugs {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/health/Hdrugs.png");
background-repeat: no-repeat; }
}

.categorylist.drugs:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/health/hover/hdrugs.png");
background-repeat: no-repeat; }
}

.categorylist.sex {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/health/Hsex.png");
background-repeat: no-repeat; }
}

.categorylist.sex:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/health/hover/hsex.png");
background-repeat: no-repeat; }
}

.categorylist.hpersonal {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/health/Hpersonal.png");
background-repeat: no-repeat; }
}

.categorylist.hpersonal:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/health/hover/hpersonal.png");
background-repeat: no-repeat; }
}


/*  FASHION   SUBCATEGORIES   */

.categorylist.clothing {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/Fclothing.png");
background-repeat: no-repeat; }
}

.categorylist.clothing:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/hover/fclothing.png");
background-repeat: no-repeat; }
}

.categorylist.footwear {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/Ffootwear.png");
background-repeat: no-repeat; }
}

.categorylist.footwear:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/hover/ffootwear.png");
background-repeat: no-repeat; }
}

.categorylist.jewelry {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/Fjewelry.png");
background-repeat: no-repeat; }
}

.categorylist.jewelry:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/hover/fjewelry.png");
background-repeat: no-repeat; }
}

.categorylist.fmen {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/Fman.png");
background-repeat: no-repeat; }
}

.categorylist.fmen:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/hover/fman.png");
background-repeat: no-repeat; }
}

.categorylist.fwomen {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/Fwoman.png");
background-repeat: no-repeat; }
}

.categorylist.fwomen:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/hover/fwoman.png");
background-repeat: no-repeat; }
}

.categorylist.fboys {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/Fboy.png");
background-repeat: no-repeat; }
}

.categorylist.fboys:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/hover/fboy.png");
background-repeat: no-repeat; }
}

.categorylist.fgirls {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/Fgirl.png");
background-repeat: no-repeat; }
}

.categorylist.fgirls:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/fashion/hover/fgirl.png");
background-repeat: no-repeat; }
}