@import "bootstrap";

.categorylist.media {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 30px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/catmedia.PNG");
background-repeat: no-repeat;
  }
}

.categorylist.media:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 30px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Cmedia.PNG");
    background-repeat: no-repeat; }
}

.categorylist.electronics {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/catelectronics.PNG");
background-repeat: no-repeat;  }
}

.categorylist.electronics:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Celectronics.PNG");
background-repeat: no-repeat;  }
}

.categorylist.local {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/catlocal.PNG");
background-repeat: no-repeat; }
}

.categorylist.local:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Clocal.PNG");
background-repeat: no-repeat; }
}


.categorylist.fashion {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/catfashion.PNG");
background-repeat: no-repeat; }
}

.categorylist.fashion:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Cfashion.PNG");
background-repeat: no-repeat; }
}

.categorylist.tech {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/cattech.PNG");
background-repeat: no-repeat; }
}

.categorylist.tech:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 24px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Ctech.PNG");
background-repeat: no-repeat; }
}

.categorylist.health {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 26px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/cathealth.PNG");
background-repeat: no-repeat; }
}

.categorylist.health:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 26px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Chealth.PNG");
background-repeat: no-repeat; }
}

.categorylist.beauty {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 26px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/catbeauty.PNG");
background-repeat: no-repeat; }
}

.categorylist.beauty:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 26px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Cbeauty.PNG");
background-repeat: no-repeat; }
}

.categorylist.auto {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/hover/catauto.PNG");
background-repeat: no-repeat; }
}

.categorylist.auto:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/Cauto.png");
background-repeat: no-repeat; }
}

.categorylist.sustenance {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/catdrink.PNG");
background-repeat: no-repeat; }
}

.categorylist.sustenance:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Cdrink.PNG");
background-repeat: no-repeat; }
}

.categorylist.home {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/cathome.PNG");
background-repeat: no-repeat; }
}

.categorylist.home:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Chome.PNG");
background-repeat: no-repeat; }
}

.categorylist.hobbies {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/hover/cathobby.PNG");
background-repeat: no-repeat; }
}

.categorylist.hobbies:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/Chobby.PNG");
background-repeat: no-repeat; }
}


/*  MEDIA SUBCATEGORIES  */


.categorylist.books {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/Mbooks.PNG");
background-repeat: no-repeat; }
}

.categorylist.books:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/hover/mbooks.PNG");
background-repeat: no-repeat; }
}

.categorylist.movies {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/Mmovies.PNG");
background-repeat: no-repeat; }
}

.categorylist.movies:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/hover/mmovies.PNG");
background-repeat: no-repeat; }
}

.categorylist.games {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/media/Mgames.PNG");
background-repeat: no-repeat; }
}

.categorylist.games:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 24px;
margin-top: -11px;
background-image: url("caticons/media/hover/mgames.PNG");
background-repeat: no-repeat; }
}

.categorylist.songs {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/Msongs.PNG");
background-repeat: no-repeat; }
}

.categorylist.songs:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/hover/msongs.PNG");
background-repeat: no-repeat; }
}

.categorylist.tvshows {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/Mtv.PNG");
background-repeat: no-repeat; }
}

.categorylist.tvshows:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/hover/mtv.PNG");
background-repeat: no-repeat; }
}

.categorylist.podcasts {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/Mpodcasts.PNG");
background-repeat: no-repeat; }
}

.categorylist.podcasts:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/media/hover/mpodcasts.PNG");
background-repeat: no-repeat; }
}


/*   HOME SUBCATEGORIES  */

.categorylist.appliances {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/Happliance.PNG");
background-repeat: no-repeat; }
}

.categorylist.appliances:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/hover/happliance.PNG");
background-repeat: no-repeat; }
}

.categorylist.baby {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/Hbaby.PNG");
background-repeat: no-repeat; }
}

.categorylist.baby:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/hover/hbaby.PNG");
background-repeat: no-repeat; }
}

.categorylist.pets {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/Hpet.PNG");
background-repeat: no-repeat; }
}

.categorylist.pets:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/hover/hpet.PNG");
background-repeat: no-repeat; }
}

.categorylist.tools {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/Htool.PNG");
background-repeat: no-repeat; }
}

.categorylist.tools:hover {
a::before {
content: "";
position: absolute;
top: 50%;
left: -25px;
width: 28px;
height: 26px;
margin-top: -11px;
background-image: url("caticons/home/hover/htool.PNG");
background-repeat: no-repeat; }
}