@import "bootstrap";
/* universal */

html {
  overflow-y: scroll;
}

body {
	margin:0px 0px; padding:0px;
	text-align:center;
	}
	
#Content {
	width: 900px;
	margin:0px auto;
	text-align:left;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.collapse.navbar-collapse{
  border-bottom: 1px solid #E8E8E8;
}

.bodypages {
  padding-top: 30px;
}

.aboutbottom{
  padding-top:570px;
  a{border-top: 1px solid #E8E8E8; padding-top:10px; color:#888888; font-size:90%; width:50px;} 
  a:hover{color:black; text-decoration:none;}
}

.searchstyle{
  display:inline-block;
  padding-left:10px;
  vertical-align:bottom;
}

#notice {
  color: #E95656;
  font-weight: bold;
  text-align:center
}

.r-clickfeature{
}

.r-productfeature{
   display: none;
   &:after{
   clear: both;
   content: '';
   display: block;
 }
}

.form-control.autominutes{
  width:50px;
}

.col-xs-3.sign-up-signin{
  border-left: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  text-align:center;
  padding-bottom:20px;
  padding-top:20px;
}

.email-login{
  display:inline-block;
  font-size:110%;
  padding-left:10px;
  a:hover{text-decoration:none;}
}

.form-control.login{
  width:250px;
}


/* Navigation */

.nav.navbar-nav.navbar-center {
  a{background-color:#F8F8F8; color:#282828; font-weight:bold;}
  a:hover{background-color:#F0F0F0;}
  padding-left:400px;
}

.nav.nav-navbar.navbar-right.nav-tabs {
  border-bottom: 0px;
a:hover
 {
  background-color:#FFFFFF;
  border-bottom: 0px;    
 }
}


.navbar-form.navbar-left {
  margin-left: 50px; 
}


/* Categories */

.categorylist {
         height: 50px;
         width: 220px;
         position: relative;
            
  font-size:120%;
  padding-left:25px; 
a{
    color: #888888;
  }
a:hover {
    color: #404040;
  } 
}

.nav.nav-stacked { 
  text-align:justify;
  padding-left:5px; 
a:hover
 {
  background-color: #FFFFFF;
 }
}


/* Users */

.full_profile {
  font-size: 0.75em;
  padding-top:5px;
  padding-left:5px;
  a{color:#000000;}
a:hover{color:#000000;
  background-color: #FFFFFF;}
  display:inline-block;
  vertical-align:top;
}

.stats {
  padding-top:40px;
}

.logoutlink {
  display:inline-block;
  padding-left:5px;
  a{font-size:85%; color:#808080;}
  a:hover{text-decoration:none; color:#000000;}
  padding-bottom:10px;
}

.searchbox{
  float:left;
  width:445px;
}

.searchgo{
  display:inline-block;
}

.form-control.search{
  width:445px;
}

.form-control.mobile-search{
  width:100%;
}

.form-control.book-search{
  width:300px;
}


/* DUMB SPACE */

.row.dumb500{
  min-height:500px;  
}

.row.dumb300{
  min-height:300px;  
}


/* SEARCH */

.uselessresults{
  text-align:right;
  font-size:80%;
}

/* ABOUT */


ul.aboutlist{
list-style-type: none;
}

li.aboutitem{
padding-bottom:15px;
  font-size:120%;
  font-weight:bold;
}

/* AUTO */

.row.autoup {
  border-bottom: 2px solid #E8E8E8;
  padding-bottom: 15px;

}

.col-sm-5.autoshow{
  padding-left:30px;
}

.form-control.autotitle{
  width:300px; 
}

.form-control.autocontent{
  width:300px;
  height:300px;
}

/* BOOKS */

.col-sm-4.booksin{
  max-height:150px;
}

.col-sm-8.booksin{
  min-height:220px;
}

.searchbox.books{
  width:300px;
}

.booktotalsearch{
  display:inline-block;
}

.choosesearch{
  float:left;
  padding-bottom:10px;
}

#book-description{
  font-size:80%;
}

/* DRUGS - CATEGORIES */

.healthcat {
  border-bottom: 0px solid #E8E8E8;
  padding-bottom:5px;
  padding-left:30px;
}

.healthcat ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

.healthcat ul li { display: inline; font-size:120%; }

.healthcat ul li a
{
color: #808080;  
text-decoration: none;
font-size:1em;
  padding: .5em 5.5em 0.5em 0.6em;
}

.healthcat ul li a:hover
{
background-color: #FFFFFF;
color:#000000;
}

/* LOCAL */

#tags {
  display: none;
}

#map-canvas {
  height: 300px;
}

.ui-helper-hidden-accessible {
  display:none;
}

ul.ui-autocomplete {
  z-index: 1001;
  border: 2px solid #EEE;
  list-style-type: none;
  background: #FFF;
  width: 15%;
  padding: 10px;
  a:hover{text-decoration:none;}
}

.col-sm-4.localmap{
height:500px;
}

.form-control{
width:50px;
}

.form-control.q
{ 
padding: 5px; 
border-radius: 3px; 
border: 1px solid #CCC; 
background-image: none; 
width:220px; 
display:inline-block;
} 
 .form-control.q:focus { 
outline-color: #0066FF; 
} 

.localcategory{
font-size:80%;
  padding-bottom:5px;
}

.localindexname{
font-size:105%;
font-weight:bold;
}

.localbottom{
  padding-bottom:15px;
border-bottom: 1px solid #D0D0D0;
}

.local.name{
  font-weight:bold;
  font-size:110%;
  padding-bottom:0px;
  a{color: #606060;}
  a:hover{text-decoration:none;
  color:black;}
}

.emaillink{
  font-size: 70%;
}

.localhours{
font-size:85%;
}

.localaddition{
  font-size:110%;
}

.searchbox.local{
  width:200px;
}

/* MEDIA */

.quickreview{
font-style:italic;
  font-size:90%;
}

.listcat {
  a{background-color: #F0F0F0;}
}

.mediasubcategories{
padding-left:50px;
  padding-top:20px;
}

.mediasubcategories ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mediasubcategories ul li
  {
  padding-bottom:20px;
}

.mediasubcategories ul li a
  {
  padding-left:20px;
  font-size:130%;
  text-decoration:none;
  color: #888888;
}

.mediasubcategories ul li a:hover
  {
  color: #404040;
}

/* MOVIES */

.moviesfirst{
padding-bottom: 20px;
border-bottom: 1px solid #E8E8E8;
}

.moviesfirstlist{
  display: inline-block;
  padding-left:50px;
}

.moviesfirstlist ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;  
}

.moviesfirstlist ul li { display: inline; }

.moviesfirstlist ul li a
{
color: #808080;  
text-decoration: none;
padding: .5em 0.85em;

}

.moviesfirstlist ul li a:hover
{
border-bottom: 0px solid #E8E8E8;
  background-color:#FFFFFF;
  color: #000000;
}

#watchmovie {
font-weight:bold;
}

.moviessecond{
padding-bottom: 20px;
padding-top: 20px;
border-bottom: 1px solid #D0D0D0;
}

#movieyears {
display: inline-block;
}

#movieratings {
display: inline-block;
}

.moviesnow{
  padding-top: 20px;
  a{color: #707070;}
  a:hover{color: #202020; text-decoration:none;}
}

.moviesresult{
  padding-top: 40px;
}

.moviesnowindex{

  font-size: 130%;
  a{color: #707070;}
  a:hover{color: #202020; text-decoration:none;}
}

.col-sm-4.moviesin{
}

.col-sm-8.moviesin{
  min-height: 250px;
}

.movieitem{
  padding-top:10px;
  padding-right:15px;
  border-right: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;  
}

.moviefacts {
  border-right: 1px solid #F0F0F0;
}

.specreview{
  float:right;
  border-bottom: 2px solid #E0E0E0; 
}

.row.movie2{
  border-bottom: 1px solid #F0F0F0;
  border-top: 1px solid #F0F0F0; 
  padding-top:10px;
  text-align:center;
}

.row.movieup{
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 15px;
}

.moviereviewcontent{
  font-size:90%;
  white-space: pre-wrap;
}

.movtitle{
  a{color: #707070;}
  a:hover{color: #202020; text-decoration:none;}
  font-weight:bold;
  font-size:105%;
}

.moviegenres{
  display: inline-block;
  font-size:90%;
}

/* NEWSFEED */

.qupdate{
  border-bottom: 0px solid #E8E8E8;
  padding-bottom:5px;
}
.texty {
  padding-left:30px;
  border-bottom: 0px;
}

.safelogin{
  font-size:90%;
  text-align:center;

}

.qupdate.ud{
float:right;
border-right: 1px solid #E8E8E8;
padding-left: 5px;
padding-right: 5px;
}

.allnews {
padding-top:30px;
border-right: 1px solid #E8E8E8;
border-top: 1px solid #E8E8E8;
border-left: 1px solid #E8E8E8;  
padding-left:40px;
padding-right:40px;
}

.homenews {
padding-top:30px;
border-right: 1px solid #E8E8E8;
border-top: 1px solid #E8E8E8;
border-left: 1px solid #E8E8E8;  
padding-left:20px;
padding-right:20px;
}


/* PAGINATION */

.digg_pagination {
  text-align:center;
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.25em 0.70em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }


/* PODCASTS */

.col-sm-9.podreview {
  min-height:150px;
}

.podinfo{
  font-size: 0.78em;
  padding-left:10px;
}

.row.podup {
  border-bottom: 2px solid #E8E8E8;
  padding-bottom: 5px;
}

.podcastreviews.body {
  padding-left:50px;
  width:550px;
  height:150px;
  vertical-align:text-top;
  float:right;
}

.podcastreviews.image {
  float:left;
  width:100px;
  height:200px;
}

.inreviews{
  display:inline-block;
  vertical-align:top;
  padding-left:10px;
}

.row.podcast {
  padding-top:30px;
}

.col-sm-1.linkup{
  a{color: #707070;}
  a:hover{color: #000000;
text-decoration:none;}
float:left;
}

.col-sm-4.podsin{
}

.col-sm-7.podsin{
  min-height: 200px;
}

.podcastsnowindex{

  font-size: 130%;
  a{color: #707070;}
  a:hover{color: #202020; text-decoration:none;}
}

.podcastnew{
  padding: 5px; 
  border-radius: 3px; 
  border: 1px solid #CCC; 
  background-image: none; 
  width:300px; 
}

.podcastnew:focus { 
  outline-color: #0066FF; 
} 

.podcastnameshow{
  padding-left:10px;
  font-weight:bold;
}

/* PROMOTIONS */

.row.showpromotion{
  border: 2px dashed #F6CECE;
  padding: 2px 2px;
  text-align:center;
}


/* RECIPE */

.recipe-id{
  padding-left:10px;
}

/* REVIEW_IMAGES */

.r-image{
      height: 25px;
      width: 200px;
      cursor: pointer;
      background-repeat: no-repeat;
        background-image: asset-data-url("otherbigimages/AddImagesOptional1.PNG");
    }

  .r-rightside{
    display: none;
    &:after{
      clear: both;
      content: '';
      display: block;
    }
  }

/* Loading gif */

#submit-me{
      height: 35px;
      width: 60px;
      cursor: pointer;
      background-repeat: no-repeat;
        background-image: url("");
    }

  #loading2{
    display: none;
    &:after{
      clear: both;
      content: '';
      display: block;
    }
  }


/* REVIEWS */


.numberOne {
  float:left;
    border-radius: 50%;

    width: 30px;
    height: 30px;
    padding: 1px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 18px Arial, sans-serif;
}

.numberOneindex {
  float:left;
    border-radius: 30%;

    width: 40px;
    height: 40px;
    padding: 5px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 18px Arial, sans-serif;
}

.reviewtitle{
  font-weight:bold;
  display:inline-block;
  padding-left:10px;
}

.rating-comments {
  margin-bottom: 5px;
}

.reviewcontent{
  font-size:85%;
}

.contentcharacters{
  display:inline-block;
  padding-left:245px;
  font-size:85%;
}

.user-activity-delete{
  float:right;
  display:inline-block;
}

/* REVIEW - THUMBS */

.thumbsup {
  float:left;
  padding-bottom:20px;
  padding-right: 5px;
  a::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 22px;
    background-image: asset-data-url("othericons/thumbzz.PNG");
        background-repeat: no-repeat;
        background-position: 0 0px;
  }
}

.thumbsup:hover {
  float:left;
  padding-bottom:20px;
  padding-right: 5px;
  a::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 22px;
    background-image: asset-data-url("othericons/thumbzz.PNG");
        background-repeat: no-repeat;
        background-position: 0 -26px;

  }
}

.thumbsdown{
  padding-bottom:20px;
  display:block;
  padding-left:40px;
  a::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 22px;
    background-image: asset-data-url("othericons/thumbzz.PNG");
        background-repeat: no-repeat;
        background-position: 0 -52px;
  }
}

.thumbsdown:hover{
  padding-bottom:20px;
  display:block;
  padding-left:40px;
  a::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 22px;
    background-image: asset-data-url("othericons/thumbzz.PNG");
        background-repeat: no-repeat;
        background-position: 0 -78px;
  }
}


/* REVIEW - END THUMBS */

.thumbsup-local {
  float:left;
  padding-right: 5px;
}

.thumbsdown-local{
  display:inline-block;
  padding-left:10px;
}

.bottomreviewicons{
  padding-bottom:10px;
}

.reviewname {
  font-weight:bold;
  padding-bottom:10px;
  font-size:95%;
}

.writeareview{
  display:inline-block;
  padding-bottom:20px;
  padding-left:5px;
  font-weight:bold;
}

.noreviewshome{
  font-size:200%;
  text-align:center;
  color:#B8B8B8;
  padding-top:20px;
}

.noreviewshomebottom{
  font-size:110%;
  text-align:center;
  color:#C8C8C8;
}

.optionalreview{
  font-size:120%;
  font-weight:bold;
  color:#A8A8A8;
  padding-bottom:10px;
}

.row.reviewbottom{
  padding-bottom:50px;
}

/* REVIEW - INPUT */

.form-control.autotitle{
  width:450px; 
}

.form-control.autocontent{
  width:450px;
  height:250px;
}

/* REVIEW - END INPUT */

.form-control.reviewcontent{
  width:500px;
  height:200px;
}

.separatereview{
  border-bottom: 1px solid #D0D0D0;
}

.reviewslashfive{
  display:inline-block;
  padding-left:5px;
  padding-top:20px;
}

.total_score{
  float:left;
}

.noreviewsonindex{
  text-align:center;
  padding-top:20px;
  font-size:140%;
  color:#B2ADAC;
}

.noreviews{
  text-align:center;
  color:#B2ADAC;
  padding-bottom:20px;
}

.noreviews.home{
  padding-top:10px;
  font-size:120%;
}

.noreviews.usershow{
  padding-top:50px;
  font-size:200%;
}

.popularactivitiesname{
  padding-top:10px;
  padding-bottom:10px;
  border-top: 1px solid #E8E8E8;
}

.col-sm-3.useronactivity{
  padding-left:30px;
}

.col-sm-9.podreview.indexreview{
  padding-right:20px;
}

.removeicon{
  display:inline-block; 
}

.browseimage{
  display:inline-block; 
  padding-left:10px;
}

/* REVIEW - COLORS */

.reviewtotalfive{
  font-size:140%;
  font-weight:bold;
  color:#303030;
  display:inline-block; 
}

.reviewnumberscore{
  font-size:400%;
  font-weight:bold;
  color:#808080;
}

.loadinggif{
  display:inline-block; 
  padding-left:20px;
  float:left;
}
.loadinggif-check{
  display:inline-block; 
}

/* SONGS */

.songname{
  font-size:120%;
  font-weight:bold;
  padding-bottom:5px;
}

.songartistalbum{
  font-size:90%;
  padding-bottom:5px;
}

/* STATIC_PAGES */

.col-sm-2.categories{
}

.col-sm-3.homefblogo{
  padding-top:10px;
  padding-bottom:280px;
}


.loginversus{
  padding-left:45px;
}

ul.admin{
  list-style-type: none;
}

.homephoto{
  border-right: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
}

/* TECH */

.techup{
  padding-bottom: 58px;
  border-bottom: 1px solid #E8E8E8;
}

.row.tech {
  padding-top:30px;
}

.col-sm-4.techin{
}

.col-sm-8.techin{
  min-height: 200px;
}

.techsnowindex{
  font-size: 130%;
  a{color: #707070;}
  a:hover{color: #202020; text-decoration:none;}
}

.technameshow{
  padding-left:10px;
  padding-bottom:20px;
  font-weight:bold;
  font-size:110%;
}

/* TVSHOWS */

.tvshowsnow{
  padding-top: 20px;
  a{color: #707070;}
  a:hover{color: #202020; text-decoration:none;}
}

.col-sm-4.tvshowsin{
}

.col-sm-8.tvshowsin{
  min-height: 250px;
}

.tvshowsnowindex{
  font-size: 130%;
  a{color: #707070;}
  a:hover{color: #202020; text-decoration:none;}
}

.tvshowfacts {
  border-right: 1px solid #F0F0F0;
}

.tvshowfirst{
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
}

.tvtitle{
  a{color: #707070;}
  a:hover{color: #202020; text-decoration:none;}
  font-weight:bold;
  font-size:115%;
}

/* USER */


#sign_in {
  padding-top:10px;
}

.col-sm-7.usershow{
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
  padding-top:20px;
}

.points{
  color:#707070;
  font-weight:bold;
}

.pointz {
  font-weight:normal;
  display:inline-block;
}

.stats {
  padding-top:10px;
  a{color:#707070;}
  a:hover{text-decoration:none; color:#000000;}
}

.namefollow{
  vertical-align:top;
  display:inline-block;
  a{color:#707070;}
  a:hover{text-decoration:none; color:#000000;} 
}

.podcastusershow{
  font-size:120%;
  font-weight:bold;
  padding-bottom:5px;
}

.podcastusercontent{
  padding-left:20px;
  padding-top:5px;
}

.unameonshow{
  font-size:130%;
  padding-bottom:10px;
}

.userfollowname{
  font-size:90%;
  display:inline-block;
  vertical-align:top;
}

.stats.mobile{
  text-justify:inter-word;
}