// Place all the styles related to the Locals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#tags {
  display: none;
}

#map-canvas {
  height: 300px;
}

.ui-helper-hidden-accessible {
  display:none;
}

ul.ui-autocomplete {
  z-index: 1001;
  border: 2px solid #EEE;
  list-style-type: none;
  background: #FFF;
  width: 15%;
  padding: 10px;
  a:hover{text-decoration:none;}
}

.col-sm-4.localmap{
height:500px;
}

.form-control{
width:50px;
}

.qform-control
{ 
padding: 5px; 
border-radius: 3px; 
border: 1px solid #CCC; 
background-image: none; 
width:220px; 
} 
 .qform-control:focus { 
outline-color: #0066FF; 
} 

.localcategory{
font-size:80%;
  padding-bottom:5px;
}

.localindexname{
font-size:105%;
font-weight:bold;
}

.localbottom{
  padding-bottom:15px;
border-bottom: 1px solid #D0D0D0;
}

.local.name{
  font-weight:bold;
  font-size:110%;
  padding-bottom:0px;
  a{color: #606060;}
  a:hover{text-decoration:none;
  color:black;}
}

.emaillink{
  font-size: 70%;
}

.localhours{
font-size:85%;
}

.localaddition{
  font-size:110%;
}