// Place all the styles related to the Locals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#tags {
  display: none;
}

.ui-helper-hidden-accessible {
  display:none;
}

ul.ui-autocomplete {
  z-index: 1001;
  border: 2px solid #EEE;
  list-style-type: none;
  background: #FFF;
  width: 15%;
  padding: 10px;
  a:hover{text-decoration:none;}
}