// Place all the styles related to the Locals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#tags {
  display: none;
}

.ui-helper-hidden-accessible {
  display:none;
}

ul.ui-autocomplete {
  z-index: 1001;
  border: 2px solid #EEE;
  list-style-type: none;
  background: #FFF;
  width: 15%;
  padding: 10px;
  a:hover{text-decoration:none;}
}

.col-sm-6.localmap{
height:5000px;
}

.form-control{
width:50px;
}

.qform-control
{ 
padding: 6px; 
border-radius: 3px; 
border: 1px solid #CCC; 
background-image: none; 
width:280px; 
} 
 .qform-control:focus { 
outline-color: #0066FF; 
} 

.localcategory{
font-size:80%;
}

.localindexname{
font-size:120%;
font-weight:bold;
}

.localbottom{
  padding-bottom:15px;
border-bottom: 1px solid #D0D0D0;
}