// Place all the styles related to the media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.quickreview{
font-style:italic;
  font-size:90%;
}

.listcat {
  a{background-color: #F0F0F0;}
}

.mediasubcategories{
padding-left:50px;
  padding-top:20px;
}

.mediasubcategories ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mediasubcategories ul li
  {
  padding-bottom:20px;
}

.mediasubcategories ul li a
  {
  padding-left:20px;
  font-size:130%;
  text-decoration:none;
  color: #888888;
}

.mediasubcategories ul li a:hover
  {
  color: #404040;
}
