@import "bootstrap";

/* GENERAL */

#allmobile{
  min-width : 320px;
  padding: 0;
  margin: 0;
}

.mobilemaincats{
  font-size: 20pt !important;
}

/* HEADER */

.mobilelogo{
  border-bottom: 2px solid #606060;
}

.row.mobilecatheader{
  background-color:#F8F8F8;
  border-bottom: 1px solid #D8D8D8;
  font-weight:bold;
  height:30px;
}

/* CATEGORIES */

ul.nav.nav-stacked.categorylist.mobile li {

}

/*  NEWSFEED  */

.noreviewsmobile{
  padding-bottom:5px;
  color:#808080;
}