@import "bootstrap";

/* GENERAL */

#allmobile{
  min-width : 320px;
  padding: 0;
  margin: 0;
}

.mobilemaincats{
  font-size: 20pt;
}

/* HEADER */

.mobilelogo{
  border-bottom: 2px solid #606060;
}

.row.mobilecatheader{
  background-color:#F8F8F8;
  border-bottom: 1px solid #D8D8D8;
  font-weight:bold;
  font-size:130%;
  height:30px;
}

/* CATEGORIES */

ul.nav.nav-stacked.categorylist.mobile li {

}

/*  NEWSFEED  */

.noreviewsmobile{
  padding-bottom:5px;
  color:#808080;
}

.mobile-activity-home{
  padding-left:30px;
}

.mobile-activity-photo{
  float:left;
  padding-right:5px;
}

.reviewname.mobile{
  display:inline-block;
}

/* USER PROFILE */

.mobileshowprofile{
  padding-left:10px;
}