@import "bootstrap";

.qupdate{
border-bottom: 1px solid #E8E8E8;
  padding-bottom:5px;
}
.texty {
  padding-left:30px;
  border-bottom: 0px;
}

.qupdate.ud{
float:right;
border-right: 1px solid #E8E8E8;
padding-left: 5px;
padding-right: 5px;
}

.allnews {
padding-top:20px;
border-right: 1px solid #E8E8E8;
border-left: 1px solid #E8E8E8;  
padding-left: 5px;
}

.separatenews {
padding-left:20px;
padding-right:20px;
}