@import "bootstrap";

/* General */
.qupdate{
  border-bottom: 0px solid #E8E8E8;
  padding-bottom:5px;
}
.texty {
  padding-left:30px;
  border-bottom: 0px;
}

.safelogin{
  font-weight:bold;
  font-size:80%;
  text-align:center;

}

.qupdate.ud{
float:right;
border-right: 1px solid #E8E8E8;
padding-left: 5px;
padding-right: 5px;
}

.allnews {
padding-top:30px;
border-right: 1px solid #E8E8E8;
border-top: 1px solid #E8E8E8;
border-left: 1px solid #E8E8E8;  
padding-left:40px;
padding-right:40px;
}

.homenews {
padding-top:30px;
border-right: 1px solid #E8E8E8;
border-top: 1px solid #E8E8E8;
border-left: 1px solid #E8E8E8;  
padding-left:20px;
padding-right:20px;
}
