@import "bootstrap";

/* General */
.qupdate{
border-bottom: 1px solid #E8E8E8;
  padding-bottom:5px;
}
.texty {
  padding-left:30px;
  border-bottom: 0px;
}

.qupdate.ud{
float:right;
border-right: 1px solid #E8E8E8;
padding-left: 5px;
padding-right: 5px;
}

.allnews {
padding-top:30px;
border-right: 1px solid #E8E8E8;
border-left: 1px solid #E8E8E8;  
padding-left: 5px;
padding-left:30px;
padding-right:30px;
}

/* MEDIA */

.mediacat {
border-bottom: 1px solid #E8E8E8;
  padding-bottom:5px;
}

.mediacat ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

.mediacat ul li { display: inline; }

.mediacat ul li a
{
color: #808080;  
text-decoration: none;
padding: .5em 2.9em;

}

.mediacat ul li a:hover
{
background-color: #F8F8F8;
}

.listcat {
  a{background-color: #F0F0F0;}
}


/* MOVIES */


.moviesfirst{
padding-bottom: 20px;
border-bottom: 1px solid #D0D0D0;
}

.moviesfirstlist{
  display: inline-block;
  padding-left:50px;
}

.moviesfirstlist ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;  
}

.moviesfirstlist ul li { display: inline; }

.moviesfirstlist ul li a
{
color: #808080;  
text-decoration: none;
padding: .5em 0.85em;

}

.moviesfirstlist ul li a:hover
{
border-bottom: 0px solid #E8E8E8;
  background-color:#FFFFFF;
  color: #000000;
}

.moviesfirstsearch{
  display: inline-block;
}

#watchmovie {
font-weight:bold;
}

.moviessecond{
padding-bottom: 20px;
padding-top: 20px;
border-bottom: 1px solid #D0D0D0;
}

#movieyears {
display: inline-block;
}

#movieratings {
display: inline-block;
}

.moviesnow{
padding-top: 20px;
a{color: #707070;}
a:hover{color: #202020; text-decoration:none;}
}

.moviesresult{
padding-top: 40px;
}

.moviesnowindex{

  font-size: 130%;
  a{color: #707070;}
a:hover{color: #202020; text-decoration:none;}
}

.col-sm-4.moviesin{
}

.col-sm-8.moviesin{
height: 300px;
}


/* PODCASTS */

.podcastup{
padding-bottom: 50px;
border-bottom: 1px solid #D0D0D0;
}

.col-sm-6.linkup{
  a{color: #707070;}
  a:hover{color: #000000;
text-decoration:none;}
float:left;
}