// Place all the styles related to the Promotions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.row.showpromotion{
  border: 2px dashed #F6CECE;
  padding: 2px 2px;
  text-align:center;
}