@import "bootstrap";

.numberOne {
  float:left;
    border-radius: 50%;

    width: 30px;
    height: 30px;
    padding: 1px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 18px Arial, sans-serif;
}

.numberOneindex {
  float:left;
    border-radius: 30%;

    width: 40px;
    height: 40px;
    padding: 5px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 18px Arial, sans-serif;
}

.reviewtitle{
  font-weight:bold;
  display:inline-block;
  padding-left:10px;
}

.rating-comments {
  margin-bottom: 5px;
}

.reviewcontent{
  font-size:85%;
}

.contentcharacters{
  display:inline-block;
  padding-left:245px;
  font-size:85%;
}

.flagicon{
  display:inline-block;
  float:right;
}

.thumbsup {
  float:left;
  padding-right: 5px;
}

.thumbsdown{
  display:inline-block;
  padding-left:10px;
}

.thumbsup-local {
  float:left;
  padding-right: 5px;
}

.thumbsdown-local{
  display:inline-block;
  padding-left:10px;
}

.bottomreviewicons{
  padding-bottom:10px;
}

.reviewname {
  font-weight:bold;
  padding-bottom:10px;
  font-size:95%;
}

.writeareview{
  display:inline-block;
  padding-bottom:20px;
  padding-left:5px;
  font-weight:bold;
}

.noreviewshome{
  font-size:200%;
  text-align:center;
  color:#B8B8B8;
  padding-top:20px;
}

.noreviewshomebottom{
  font-size:110%;
  text-align:center;
  color:#C8C8C8;
}

.optionalreview{
  font-size:120%;
  font-weight:bold;
  color:#A8A8A8;
  padding-bottom:10px;
}

.row.reviewbottom{
  padding-bottom:50px;
}

.field.podcontent{
padding: 6px;
border-radius: 3px;
border: 1px solid #CCC;
background-image: none;
width:450px;
height:300px;
white-space: pre-wrap;
}

.field.podcontent:focus {
  outline-color: none; 
  box-shadow: 0 0 3px 0px #0066FF;
}

.field.podtitle{
padding: 6px;
border-radius: 3px;
border: 1px solid #CCC;
background-image: none;
width:450px;
}

.field.podtitle:focus {
  outline-color: none; 
  box-shadow: 0 0 3px 0px #0066FF;
}

.form-control.reviewcontent{
  width:500px;
  height:200px;
}

.separatereview{
  border-bottom: 1px solid #D0D0D0;
}

.reviewslashfive{
  display:inline-block;
  padding-left:5px;
  padding-top:20px;
}

.total_score{
  float:left;
}

.noreviewsonindex{
  text-align:center;
  padding-top:20px;
  font-size:140%;
  color:#B2ADAC;
}

.noreviews{
  text-align:center;
  color:#B2ADAC;
  padding-bottom:80px;
}

.noreviews.home{
  padding-top:30px;
  font-size:120%;
}

.noreviews.usershow{
  padding-top:50px;
  font-size:200%;
}

.popularactivitiesname{
  padding-top:10px;
  padding-bottom:10px;
  border-top: 1px solid #E8E8E8;
}

.col-sm-3.useronactivity{
  padding-left:30px;
}

.col-sm-9.podreview.indexreview{
  padding-right:20px;
}

.removeicon{
  display:inline-block; 
}

.browseimage{
  display:inline-block; 
  padding-left:10px;
}

/* COLORS */

.reviewtotalfive{
  font-size:140%;
  font-weight:bold;
  color:#303030;
  display:inline-block; 
}

.reviewnumberscore{
  font-size:250%;
  font-weight:bold;
  color:#808080;
}

.loadinggif{
  display:inline-block; 
  padding-left:20px;
  float:left;
}

/* Drop photos */

label.filebutton {
    width:211px;
    height:71px;
    overflow:hidden;
    position:relative;
    background-color:white;
    background-image: url("otherbigimages/DropPhotos4.PNG");
    background-repeat: no-repeat;
}

label span fieldset ol input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -630px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}

/* Image upload */

.upload {
  border-bottom: solid 1px #CCC;
  width: 300px;
  padding-top: 10px;
  margin-top: 10px;

  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
    .bar {
      height: 10px;
      background: #3e91c1;
    }
  }
}