// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.contentcharacters{
  display:inline-block;
  padding-left:250px;
  font-size:85%;
}