.social-share-button-facebook{
  display:inline-block;
  padding-left:30px;
  width: 26px;
  height: 26px;
    background-image: asset-data-url("othericons/social_buttonz.png");
        background-repeat: no-repeat;
        background-position: 0 0px;
}

.social-share-button-twitter{
  display:inline-block;
  padding-left:30px;
  width: 26px;
  height: 26px;
    background-image: asset-data-url("othericons/social_buttonz.png");
        background-repeat: no-repeat;
        background-position: 0 -30px;
}

.social-share-button-google_plus{
  display:inline-block;
  padding-left:30px;
  width: 26px;
  height: 26px;
    background-image: asset-data-url("othericons/social_buttonz.png");
        background-repeat: no-repeat;
        background-position: 0 -59px;
}