// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-sm-2.categories{
}

.col-sm-3.homefblogo{
  padding-top:10px;
  padding-bottom:280px;
}

.aboutslogan{
  font-size:150%;
  color:#383838;
  font-weight:bold;
  padding-left:40px;
}

.row.advertisinglist{
  border-top: 1px solid #E8E8E8;
  padding-top:30px;
}

.adtitle{
  font-size:150%;
  padding-left:5px;
  display:inline-block;
  a{color:#383838;}
  a:hover{color:black; text-decoration:none;}
}

.addescription{
  font-weight:bold;
  font-size:110%;
  color:#707070;
  padding-botom:40px;
}

.seeplans{
  display:inline-block;
  font-weight:bold;
  font-size:130%;
  padding-left:15px;
}

.col-sm-12.plan1{
  background-color:#FAFAFA;
}

.col-sm-12.plan2{
  background-color:#FAFAFA;
}

.col-sm-12.plan3{
  background-color:#F8E0E0;
}

.selectplan{
  font-weight:bold;
  font-size:150%;
  padding-top:50px;
  text-align:center;
}

.titleplan{
  font-size:130%;
  font-weight:bold;
  text-align:center;
  padding-top:10px;
}

.adslogan{
  font-size:130%;
  padding-bottom:50px;
  color:#505050;
  text-align:center;
}

.loginversus{
  padding-left:45px;
}

ul.admin{
  list-style-type: none;
}

.homephoto{
  border-right: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
}