// Place all the styles related to the Teches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.techup{
  padding-bottom: 58px;
  border-bottom: 1px solid #E8E8E8;
}

.techsearchbutton{
  padding: 5px; 
  border-radius: 3px; 
  border: 1px solid #CCC; 
  background-image: none; 
  width:400px; 
}

.techsearchbutton:focus { 
  outline-color: none; 
  box-shadow: 0 0 3px 0px #0066FF; 
}

.row.tech {
  padding-top:30px;
}

.col-sm-4.techin{
}

.col-sm-8.techin{
  min-height: 200px;
}

.techsnowindex{
  font-size: 130%;
  a{color: #707070;}
  a:hover{color: #202020; text-decoration:none;}
}

.technameshow{
  padding-left:10px;
  padding-bottom:20px;
  font-weight:bold;
  font-size:110%;
  a{color:#707070;}
  a:hover{text-decoration:none; color:#202020;}
}