// Place all the styles related to the tvshows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.tvshowsnow{
  padding-top: 20px;
  a{color: #707070;}
  a:hover{color: #202020; text-decoration:none;}
}

.col-sm-4.tvshowsin{
}

.col-sm-8.tvshowsin{
  min-height: 250px;
}

.tvshowsnowindex{
  font-size: 130%;
  a{color: #707070;}
  a:hover{color: #202020; text-decoration:none;}
}

.tvshowfacts {
  border-right: 1px solid #F0F0F0;
}

.tvshowsearchbutton{ 
  padding: 5px; 
  border-radius: 3px; 
  border: 1px solid #CCC; 
  background-image: none; 
  width:460px;
}

.tvshowsearchbutton:focus{ 
  outline-color: #0066FF; 
}

.tvshowfirst{
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
}

.tvtitle{
  a{color: #707070;}
  a:hover{color: #202020; text-decoration:none;}
  font-weight:bold;
  font-size:115%;
}