
#sign_in {
padding-top:10px;
}

.points{
color:#707070;
  font-weight:bold;
}

.pointz {
  font-weight:normal;
  display:inline-block;
}

.stats {
  padding-top:10px;
  a{color:#707070;}
a:hover{text-decoration:none; color:#000000;}
}

.namefollow{
vertical-align:top;
display:inline-block;
a{color:#707070;}
a:hover{text-decoration:none; color:#000000;} 
}