.full_profile {
font-size: 0.75em;
text-align:left;
  padding-top:5px;
  a{color:#000000;}
a:hover{color:#000000;}
}

.stats {
  overflow: auto;
  padding-top: 10px;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #E8E8E8;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #404040;
    }
  }
  strong {
    display: block;
  }
}