 <div class="moviesfirst">
    <%= form_tag msearch_path, :method => :get do %>
          <%= text_field_tag(:query, nil, :placeholder => "e.g. Fight Club" , :class => "moviesearchbutton") %>
          <div class="searchstyle"><%= image_submit_tag("searchbutton.PNG", height: '20', width: '20' ) %></div>
     <% end %>
 </div>

