<% if @activities.count < 8 %>

   <% if @activities.empty? %>
        <div class="noreviews home">No activity from people you follow</div>
   <% end %>

        <% @activities.each do |activity| %>
           <div class="activity">
             <%= render_activity activity %>
           </div>
        <% end %>

          <hr><br>

           <% if @popular_activities.empty? %>
                <div class="row dumb500"></div>
           <% end %>

          <% @popular_activities.each do |activity| %>
            <div class="activity">
              <%= render_activity activity %>
            </div>
          <% end %>

  <% else %>

    <% @activities.each do |activity| %>
      <div class="activity">
        <%= render_activity activity %>
      </div>
    <% end %>

<% end %>

<div class="digg_pagination" data-no-turbolink>
  <%= will_paginate @activities %>
</div>