<% provide(:title, @resource_type.to_s.pluralize.humanize) %>
<div class="row">

  <div class="col-sm-2 categories">
    <%= render 'shared/categories' %>
  </div>
  
  <div class="col-sm-8">
    <div class="allnews">
      
        <div class="search-box">
          <%= render 'search_form' %>
        </div>

        <div class="showproducts">
            <% if @products %>
              <%= render 'products' %>
            <% else %>
              <div class="row dumb500"></div>
            <% end %>
        </div>

        <div class="pagination-container">
          <% if @products %>
            <%= render 'pagination' %>
          <% end %>
        </div>      
      
    </div>
  </div>

</div>