<% provide(:title, "#{@product['name']} Reviews") %>

<%= render "productshow" %>
<%= render 'shared/ad_on_item' %>
       
   <div class="row"> 
     <%= render :file => "product_reviews/index" %>
   </div>
