<% provide(:title, 'All Podcasts') %>

      <% @podcasts.each do |podcast| %>
          <div class="row">
            <%= link_to podcast.name, podcast %><br>
            <%= image_tag podcast.image_url(:thumb) if podcast.image? %>  
            <hr>
         </div>
      <% end %>

<div class="digg_pagination">
  <%= will_paginate @podcasts %>
</div>