<% provide(:title, 'Podcasts') %>
<hr>
          <%= form_tag podcasts_search_path, :method => :get do %>
                <%= text_field_tag :search, params[:search], :placeholder => "by title" , :class => "form-control mobile-search" %>
              <br>
              <div class="searchgo">
                <span class="input-group-btn">
                  <%= submit_tag "Go", class: "btn btn-default" %>
                </span>
              </div>
          <% end %>
<hr>