<% provide(:title, 'Add a new podcast') %>

<div class="row">

  <div class="col-sm-2 categories">
    <%= render 'shared/categories' %>
  </div>
    
  <div class="col-sm-8"> 

  <div class="allnews">
    <div class="podcastnewadd"><%= image_tag('othericons/microphoneicon.PNG') %> + Add a new podcast</div><br><br><br>
    
        <%= render 'form' %>

    </div>
  </div>
   
  <div class="col-sm-2">
    <%= render 'shared/user_mainprofile' %>
  </div>

</div>
