<% provide(:title, "#{@podcast.name} Reviews") %>

<%= render 'podcastshow' %>

<%= render 'shared/ad_on_item' %>

<hr>

  <div class="row"> 
    <%= render :file => "podcast_reviews/index" %>
  </div>
