<div class="row mobilehead">
  
  <div class="col-xs-3 headicon">
    <% if signed_in? %>
      <%= link_to image_tag('othericons/rss8.png'), mobile_newsfeed_path %>
    <% end %>
  </div>
    
  <div class="col-xs-6 mobilelogo">
    <%= link_to image_tag("logou8.PNG", alt: "Inrevi - Power To The People"), root_path %>
  </div>
  
  <div class="col-xs-3 headicon">
    <% if signed_in? %>
      <%= link_to image_tag('othericons/male12.png'), user_path(current_user) %>
    <% end %>
  </div>
  
</div>
  
  <% unless signed_in? %>
    <div class="row mobilecatheader">
        <div class="slogan-mobile">Just reviews</div>
    </div>
  <% end %>
