<nav class="navbar" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >

    <ul class="nav navbar-nav navbar-center">
      <div class="navbar-header" align="center">
        <%= link_to image_tag("logou8beta.PNG", alt: "Inrevi - Power To The People"), root_path %>
      </div>
    </ul>

    <ul class="nav nav-navbar navbar-right nav-tabs"> 
    </ul>  
    
   </ul>
  </div><!-- /.navbar-collapse -->
</nav>