<div class="row navigation-home">
  
  <div class="col-xs-3">
    <%= link_to image_tag("logou8.PNG", alt: "Inrevi - Power To The People"), root_path %>
  </div>
  
  <div class="col-xs-6 header">

<div class="btn-group" align="left">
  
  <button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown">
    Reviews <span class="caret"></span>
  </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      
      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">Media</a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/books">Books</a></li>
          <li><a href="/movies">Movies</a></li>
          <li><a href="/videogames">Games</a></li>
          <li><a href="/songs">Songs</a></li>
          <li><a href="/tvshows">TV shows</a></li>
          <li><a href="/podcasts">Podcasts</a></li>
          <li><a href="/finearts">Fine Art</a></li>
        </ul>
      </li>
      
      <li><a href="/locals">Local</a></li>
      <li><a href="/teches">Tech</a></li>
      
      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">Electronics</a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/computers">Computers</a></li>
          <li><a href="/cameras">Photo</a></li>
          <li><a href="/emobiles">Mobile</a></li>
          <li><a href="/televisions">TV</a></li>
          <li><a href="/eportables">Portable</a></li>
          <li><a href="/securits">Security</a></li>
          <li><a href="/homeaudios">Audio</a></li>
          <li><a href="/carelectros">Vehicle</a></li>
          <li><a href="/ereaders">E-reader</a></li>
          <li><a href="/enavigations">GPS</a></li>
          <li><a href="/ewars">Warranties</a></li>
        </ul>
      </li>
      
      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">Beauty</a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/makeups">Makeup</a></li>
          <li><a href="/fragrances">Fragrance</a></li>
          <li><a href="/haircares">Hair</a></li>
          <li><a href="/skincares">Skin</a></li>
          <li><a href="/bodybaths">Body & Bath</a></li>
          <li><a href="/beatools">Tools</a></li>
        </ul>
      </li>
      
      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">Fashion</a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/clothings">Clothing & Accessories</a></li>
          <li><a href="/footwears">Footwear</a></li>
          <li><a href="/jewelrs">Jewelry</a></li>
        </ul>
      </li>
      
      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">Health</a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/drugs">Drugs</a></li>
          <li><a href="/supplements">Supplements</a></li>
          <li><a href="/healthcares">Healthcare</a></li>
          <li><a href="/sexuals">Sex</a></li>
          <li><a href="/personals">Personal</a></li>
          <li><a href="/medicals">Medical</a></li>
          <li><a href="/households">Household</a></li>
          <li><a href="/hkids">Baby & Child</a></li>
        </ul>
      </li>
      
      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">Sustenance</a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/grocers">Groceries</a></li>
          <li><a href="/recipes">Recipes</a></li>
        </ul>
      </li>
      
      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">Home</a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/appliances">Appliances</a></li>
          <li><a href="/kids">Baby</a></li>
          <li><a href="/pets">Pets</a></li>
          <li><a href="/tools">Tools</a></li>
          <li><a href="/indoors">Indoor</a></li>
          <li><a href="/outdoors">Outdoor</a></li>
        </ul>
      </li>
      
      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">Hobbies</a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/musicals">Musical intruments</a></li>
          <li><a href="/sports">Sport equipment</a></li>
          <li><a href="/crafts">Arts & Crafts</a></li>
          <li><a href="/toys">Toys</a></li>
        </ul>
      </li>
      
      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">Vehicle</a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/autos">Cars</a></li>
          <li><a href="/vehcars">Parts & Tools</a></li>
        </ul>
      </li>
      
    </ul>      
      
</div>
    
    <script type="text/javascript">
      $('.dropdown-toggle').dropdown() 
    </script>
    
  </div>
  
  <div class="col-xs-3 header">
    <% if signed_in? %>
      <%= link_to image_tag('othericons/profile7.png'), user_path(current_user) %>
    <% else %>
      <%= link_to "Login", "/users/sign_in", class: 'btn btn-default btn-sm' %>
      <%= link_to "Sign up", "/users/sign_up", class: 'btn btn-primary btn-sm' %>
    <% end %>
  </div>  
  
</div>