<nav class="navbar" role="navigation">

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >

    <ul class="nav navbar-nav navbar-center">
      <div class="navbar-header" align="center">
        <%= link_to image_tag("logou8.PNG", alt: "Inrevi - Power To The People"), root_path %>
      </div>
    </ul>

    <ul class="nav nav-navbar navbar-right nav-tabs"> 
    </ul>  
    
  </div>
  
</nav>