<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>  
  </head>

  <body>
    <div id="Content">
    <%= render 'layouts/header' %>
    <div class="bodypages">
        <%= yield %>
     </div>
    </div>
  </body>

</html>
